[run]
branch = True
source = rockhopper
plugins =
  coverage_conditional_plugin

[report]
partial_branches =
    next\(
ignore_errors = True
fail_under = 100
show_missing = True

[coverage_conditional_plugin]
rules =
  "__import__('sys').maxsize < (1 << 32)": 64bit
